<section class="dashboard-summary">

    <article class="dashboard-card">

        <div class="dashboard-card-header">
            <span>Demanda<br>consolidada</span>

            <div class="dashboard-card-icon">
                <span class="material-symbols-outlined">
                    monitoring
                </span>
            </div>
        </div>

        <strong class="dashboard-card-value">
            122.440
        </strong>

        <span class="dashboard-card-trend positive">
            ↗ +3.4%
        </span>

    </article>


    <article class="dashboard-card">

        <div class="dashboard-card-header">
            <span>Pessoas alocadas</span>

            <div class="dashboard-card-icon">
                <span class="material-symbols-outlined">
                    group
                </span>
            </div>
        </div>

        <strong class="dashboard-card-value">
            514
        </strong>

        <span class="dashboard-card-trend negative">
            ↘ -1.2%
        </span>

    </article>


    <article class="dashboard-card">

        <div class="dashboard-card-header">
            <span>Execução média</span>

            <div class="dashboard-card-icon">
                <span class="material-symbols-outlined">
                    percent
                </span>
            </div>
        </div>

        <strong class="dashboard-card-value">
            71%
        </strong>

        <span class="dashboard-card-trend positive">
            ↗ +2.1%
        </span>

    </article>


    <article class="dashboard-card">

        <div class="dashboard-card-header">
            <span>Produtividade média</span>

            <div class="dashboard-card-icon">
                <span class="material-symbols-outlined">
                    trending_up
                </span>
            </div>
        </div>

        <strong class="dashboard-card-value">
            232 pph
        </strong>

        <span class="dashboard-card-trend positive">
            ↗ +1.8%
        </span>

    </article>

</section>