<section class="filters">
    <div class="filter-group">
        <label for="headcountSearch">Pesquisar</label>
        <div class="filter-control">
            <span class="material-symbols-outlined">search</span>
            <input
                type="text"
                id="headcountSearch"
                placeholder="Nome ou matrícula"
            >
        </div>
    </div>

    <div class="filter-group">
        <label for="headcountStatus">Status</label>
        <div class="filter-control">
            <select id="headcountStatus">
                <option value="">Todos os status</option>
                <option value="ativo">Ativo</option>
                <option value="ferias">Afastado</option>
                <option value="afastado">Férias</option>
                <option value="afastado">Abandono</option>
                <option value="afastado">Licença</option>]
                <option value="afastado">Jurídico</option>
                <option value="afastado">Desligado</option>
            </select>
        </div>
    </div>

    <div class="filter-group">
        <label for="headcountCompany">Empresa</label>
        <div class="filter-control">
            <select id="headcountCompany">
                <option value="">Todas as empresas</option>
                <option value="loja-120">Grupo Casas Bahia</option>
                <option value="loja-145">Asap Log</option>
                <option value="loja-145">Bolt</option>
            </select>
        </div>
    </div>

    <div class="filter-group">
        <label for="headcountShift">Turno</label>
        <div class="filter-control">
            <select id="headcountShift">
                <option value="">Todos os turnos</option>
                <option value="1-turno">1º Turno</option>
                <option value="2-turno">2º Turno</option>
                <option value="comercial">3º Turno</option>
                <option value="comercial">ADM</option>
            </select>
        </div>
    </div>
</section>