<head>
    <link rel="stylesheet" href="/static/css/header_pages.css">
</head>
    
<header class="home-header">
    <button
        class="sidebar-toggle"
        id="sidebarToggle"
        aria-label="Abrir menu"
    >
        <span class="material-symbols-outlined">
            menu
        </span>
    </button>

    <div class="home-header-title">
        <span class="material-symbols-outlined">
            hub
        </span>

        Central inteligente de operações
    </div>

    <div class="home-user">
        <div>
            <strong>
                teste
            </strong>

            <span>
                Operações
            </span>
        </div>
    </div>
</header>
