<button class="sidebar-toggle" id="sidebarToggle" aria-label="Abrir menu">
    <span class="material-symbols-outlined">menu</span>
</button>


<aside class="sidebar" id="sidebar">
    {% include 'components/brand.html' %}

    <nav class="sidebar-nav">
        <a href="#" class="active">
            <span class="material-symbols-outlined">
                grid_view
            </span>
            Início
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                bar_chart
            </span>
            Dashboard
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                smart_toy
            </span>
            Bots
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                account_tree
            </span>
            RPAs
        </a>
    </nav>

    <p class="sidebar-section-title">Setores</p>

    <nav class="sidebar-nav sidebar-sectors">
        <a href="#">
            <span class="material-symbols-outlined">
                warehouse
            </span>
            CD 1200 Outbound
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                local_shipping
            </span>
            Abastecimento de Lojas
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                language
            </span>
            Online
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                shopping_bag
            </span>
            Pesados
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                layers
            </span>
            P.A.R.
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                hub
            </span>
            CD 1200 Inbound
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                inventory_2
            </span>
            Recebimento
        </a>

        <a href="#">
            <span class="material-symbols-outlined">
                undo
            </span>
            Retorno
        </a>
    </nav>

    <div class="sidebar-profile">
        <div class="sidebar-profile-user">
            <div>
                <p class="profile-username">
                    Teste
                </p>

                <p class="profile-email">
                    teste@teste.com
                </p>
            </div>
        </div>

        <a href="#" class="profile-logout">
            <span class="material-symbols-outlined">
                logout
            </span>
            Sair
        </a>
    </div>
</aside>

<div class="sidebar-overlay" id="sidebarOverlay"></div>

<script src="{{ url_for('static', path='js/sidebar.js') }}"></script>