<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/landpage.css">
    <title>Início</title>
</head>
<body>
    <div class="home-layout">

        <!-- Sidebar -->
        <aside class="sidebar">
            {% include 'components/brand.html'%}

            <nav class="sidebar-nav">

                <a href="#" class="active">
                    <span class="material-symbols-outlined">
                        grid_view
                    </span>
                    Início
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        bar_chart
                    </span>

                    Dashboard
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        smart_toy
                    </span>

                    Bots
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        account_tree
                    </span>

                    RPAs
                </a>

            </nav>

            <p class="sidebar-section-title">Setores</p>

            <nav class="sidebar-nav sidebar-sectors">
                <a href="#">
                    <span class="material-symbols-outlined">
                        warehouse
                    </span>

                    CD 1200 Outbound
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        local_shipping
                    </span>

                    Abastecimento de Lojas
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        language
                    </span>

                    Online
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>

                    Pesados
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        layers
                    </span>

                    P.A.R.
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        hub
                    </span>

                    CD 1200 Inbound
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        inventory_2
                    </span>

                    Recebimento
                </a>

                <a href="#">
                    <span class="material-symbols-outlined">
                        undo
                    </span>

                    Retorno
                </a>
            </nav>

            <div class="sidebar-profile">
                <div class="sidebar-profile-user">
                    <div>
                        <p class="profile-username">
                            Teste
                        </p>

                        <p class="profile-email">
                            teste@teste.com
                        </p>
                    </div>
                </div>
                <a href="#" class="profile-logout">

                    <span class="material-symbols-outlined">
                        logout
                    </span>

                    Sair
                </a>
            </div>
        </aside>

        <!-- Header -->

        <section class="home-content">
            <header class="home-header">
                <div class="home-header-title">

                    <span class="material-symbols-outlined">
                        hub
                    </span>

                    Central inteligente de operações

                </div>
                <div class="home-user">

                    <div>

                        <strong>
                            teste
                        </strong>

                        <span>
                            Operações
                        </span>

                    </div>
                </div>
            </header>

            <div class="home-container">
                <section class="home-intro">
                    <h1>Olá, user</h1>
                    <p>
                        Aqui está o resumo operacional de hoje.
                        Acompanhe demanda, volume de peças e
                        percentual de execução por setor —
                        use “Ver detalhes” para uma análise
                        mais aprofundada.
                    </p>
                </section>

                <section class="sumary-grid">
                    <article class="summary-card">
                        <span class="summary-card-label">
                            Demanda total
                        </span>

                        <strong class="summary-card-value">
                            122.440
                        </strong>

                        <span class="summary-card-description">
                            peças na operação
                        </span>

                        <div class="summary-card-icon">
                            <span class="material-symbols-outlined">
                                monitoring
                            </span>
                        </div>

                    <article class="summary-card">
                        <span class="summary-card-label">
                            Pessoas alocadas
                        </span>

                        <strong class="summary-card-value">
                            514
                        </strong>

                        <span class="summary-card-description">
                            pessoas na operação
                        </span>

                        <div class="summary-card-icon">
                            <span class="material-symbols-outlined">
                                group
                            </span>
                        </div>
                    </article>

                    <article class="summary-card">
                        <span class="summary-card-label">
                            Média finalizada
                        </span>

                        <strong class="summary-card-value">
                            71%
                        </strong>

                        <span class="summary-card-description">
                            média dos setores
                        </span>

                        <div class="summary-card-icon">

                            <span class="material-symbols-outlined">
                                percent
                            </span>
                        </div>
                    </article>

                    <article class="summary-card">
                        <span class="summary-card-label">
                            Setores ativos
                        </span>

                        <strong class="summary-card-value">
                            8
                        </strong>

                        <span class="summary-card-description">
                            inbound + outbound
                        </span>

                        <div class="summary-card-icon">

                            <span class="material-symbols-outlined">
                                layers
                            </span>
                        </div>
                    </article>
                </section>

                <!-- Filtros -->

                <section class="filters">
                    <div class="filter-group">

                        <label for="data">
                            Data
                        </label>

                        <div class="filter-control">

                            <input
                                type="text"
                                id="data"
                                value="14/09/2026"
                            >

                            <span class="material-symbols-outlined">
                                calendar_month
                            </span>
                        </div>
                    </div>

                    <div class="filter-group">

                        <label for="turno">
                            Turno
                        </label>

                        <div class="filter-control">

                            <select id="turno">

                                <option>
                                    Todos os turnos
                                </option>

                                <option>
                                    1º Turno
                                </option>

                                <option>
                                    2º Turno
                                </option>

                                <option>
                                    3º Turno
                                </option>

                            </select>

                            <span class="material-symbols-outlined">
                                expand_more
                            </span>
                        </div>
                    </div>

                    <div class="filter-group">

                        <label for="tipo">
                            Tipo
                        </label>

                        <div class="filter-control">

                            <select id="tipo">

                                <option>
                                    Inbound e Outbound
                                </option>

                                <option>
                                    Inbound
                                </option>

                                <option>
                                    Outbound
                                </option>

                            </select>

                            <span class="material-symbols-outlined">
                                expand_more
                            </span>
                        </div>
                    </div>

                    <div class="filter-group">

                        <label for="setor">
                            Buscar setor
                        </label>

                        <div class="filter-control">

                            <span class="material-symbols-outlined">
                                search
                            </span>

                            <input
                                type="text"
                                id="setor"
                                placeholder="Ex.: Recebimento"
                            >
                        </div>
                    </div>
                </section>

                <section class="operation-section">
                    <div class="operation-header">
                        <div class="operation-title">
                            <div class="operation-icon">
                                <span class="material-symbols-outlined">
                                    north
                                </span>
                            </div>

                            <div>
                                <h2>Outbound</h2>
                                <p>
                                    Expedição, abastecimento de lojas e pedidos online.
                                </p>
                            </div>
                        </div>

                        <span class="operation-count">
                            5 setores
                        </span>
                    </div>

                    <div class="sector-cards">
                        <!-- inserir componestes card -->
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>
</html>